# biothings - the git version is significantly different from the pip3 version
git+https://github.com/biothings/biothings.api.git#egg=biothings

elasticsearch>=2.0.0,<3.0.0

# Libraries required by biothings - currently not listed as dependencies
asyncssh
multiprocessing_on_dill
tornado==4.2.1
pymongo
aiocron
psutil
ipython
boto
bs4
pympler
jsonpointer
nose
